.hand_container {
  border: 1px solid blue;
  .photo {
    flex: 1; // Każda karta zajmie równą część szerokości kontenera
    max-width: 25%; // Maksymalna szerokość, aby zachować marginesy
    // border: 1px solid blue;
    color: white;
    &:hover {
      
      cursor: pointer;
    }
  }
}
