.dashboard_container {
  height: 100%;
  width: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  .top_buttons_container {
    display: flex;
    justify-content: space-between;
  }
}
