.player_cards_wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 4px;

  h3 {
    color: white;
  }

  .photos_wrapper {
    display: flex;
    gap: 3px; // Przestrzeń między zdjęciami
    width: 100%;

    .photo {
      flex: 1;
      max-width: calc(25% - 2px); // Dopasowuje szerokość do dostępnego miejsca uwzględniając `gap`
      border: 2px solid lightslategrey;
      border-radius: 8px;
      object-fit: cover;
     

      &:hover {
        cursor: pointer;
      }
    }
  }
}


