@import '../../styles/mixins.scss';
.join_the_game_button {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 50px;
  height: 50px;
  color: green;
  font-size: 1rem;
  font-weight: bold;

}
