@import "../../styles/mixins.scss";


.tables_container {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 4;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
 
  
  /* Smartfony w orientacji Portrait (320px - 480px szerokości) */
  @media (max-width: 480px) {
    
  }

  /* Smartfony w orientacji Landscape (więcej niż 480px szerokości) */
  @media (min-width: 481px) and (max-width: 767px) {

  }

  /* === Tablety === */

  /* Tablety w orientacji Portrait (481px - 768px szerokości) */
  @media (min-width: 481px) and (max-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: -1;
    justify-content: space-between;
  }

  /* Tablety w orientacji Landscape (769px - 1024px szerokości) */
  @media (min-width: 769px) and (max-width: 1024px) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: -1;
    justify-content: space-between;
    // border: 1px solid red;

  }
  @media (min-width: 1025px) and (max-width: 1280px) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: -1;
    justify-content: space-between;
  }
  @media (min-width: 1281px) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: -1;
    justify-content: space-between;
  }
}

